export GOOGLE_APPLICATION_CREDENTIALS="./config/ServiceAccountKey.json"
FIREBASE_TYPE="service_account"
FIREBASE_PROJECT_ID="xxxxxxxxx"
FIREBASE_PRIVATE_KEY_ID="xxxxxxxxxxxxx"
FIREBASE_CLIENT_EMAIL="xxxxxxy@xxxxxx.iam.gserviceaccount.com"
FIREBASE_CLIENT_ID="xxxxxx"
FIREBASE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FIREBASE_TOKEN_URI="https://oauth2.googleapis.com/token"
FIREBASE_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/x509/xxxxxxxxxx%40xxxxxx.iam.gserviceaccount.com"
FIREBASE_APIKEY="xxxxxxxxxxxxx"
FIREBASE_AUTHDOMAIN="xxxxx.firebaseapp.com"
FIREBASE_DATABASEURL="https://xxxxxxxx.firebaseio.com"
FIREBASE_STORAGEBUCKET="xxxxxxxxx.appspot.com"
FIREBASE_MESSAGINGSENDERID="xxxxxxxxxxxxxxx"
PORT=3000